.container{
    display: flex;
    background: #ffffff;
    flex-direction: column;
    max-width: 100vw;
    overflow: hidden;
    /*margin-bottom: 50px;*/
}

/* agregado empieza aqui*****************************/

.cajaC
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  align-items: center;
  */
}

.caja
{
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  margin: 30px;
  width: 300px;
  height: 500px;
  overflow: hidden;
  /*
  flex-direction: column;
  justify-content: space-between;
  */
}

.header
{
    position: relative;
    background-color: #000000;
    padding: 90px; /* Margen ajustado para mejor respuesta */
    font-size: 1.5rem; /* Tamaño de fuente adaptable */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex; /* Diseño Flexbox para alineación horizontal */
    align-items: center; /* Alineación vertical del título */
    /*
    padding: 100px;
    font-size: 4px;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    */
}

.cuerpo
{
    padding: 50px;
}

.cuerpo2
{
    justify-content: center;
    padding: 50px;
}

.neon
{
    position: absolute;
    transform: translate(-29%, 0%);
    font-size: large;
    padding: 70px;
    border: none;
}

.add_button{
    position: sticky!important;
    z-index: 1!important;
    background-color: rgb(255, 255, 255)!important;
    /*padding: inherit;*/
}

.neon:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 1px #257ea7;
}

.categoria{
    text-align: center;
}

/*.neon:nth-child(2)
{
    color: #6fd1fe;
    animation: animate 1s ease-in-out infinite;
}*/

.caja a {
  display: block;
}

.caja img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  max-width: 100%;
  height: inherit;
}

@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0 100%, 2% 49%, 8% 49%, 15% 50%, 22% 55%, 29% 60%, 39% 61%, 51% 59%, 59% 56%, 67% 53%, 77% 49%, 89% 50%, 100% 55%, 100% 100%);
    }
    50%
    {
        clip-path: polygon(0 100%, 0 40%, 12% 40%, 27% 47%, 35% 51%, 43% 55%, 52% 54%, 64% 48%, 73% 46%, 83% 49%, 93% 59%, 100% 65%, 100% 77%, 100% 100%);
    }
}

@media only screen and (max-width: 700px) {
    .container{
        display: flex;
        background-color: #ffffff;
        background: #ffffff;
        flex-direction: column;
        max-width: 100vw;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;
        /*padding-top: 100px;*/
    }
}

@media only screen and (max-width: 430px) {

    .container{
        padding: 10px;
      }
    
      .cajaC{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-flow: dense;
        padding: 0;
      }
    
      .caja{
        width: 250px; /* Reduce el ancho de la caja */
        height: 500px; /* Reduce la altura de la caja */
        font-size: 0.8rem; /* Reduce el tamaño de la fuente en general */
      }
    
      .header{
        padding: 90px; /* Reduce el relleno del header */
        font-size: 3px; /* Reduce el tamaño de la fuente en el header */
      }
    
      .neon{
        font-size: 5em; /* Reduce el tamaño de la fuente del texto neón */
        transform: translate(-35%, 0%);
      }
    
      .caja img{
        height: 70%; /* Aumenta la altura de la imagen para ocupar más espacio */
      }
}
